{% extends "layout.html" %}
{% block content %}
<div class="flex flex-col justify-around flex-1 h-full p-4">
    <div class="w-full px-4 py-16 mx-auto sm:px-6 lg:px-8 mt-52">
        <h1
            class="text-2xl font-bold text-center text-indigo-600 sm:text-3xl relative after:absolute after:bg-indigo-600 after:bottom-[-5px] after:left-1/4 after:h-[2px] after:w-1/2 after:origin-bottom-left after:scale-x-100 hover:after:origin-bottom-right hover:after:scale-x-0 after:transition-transform after:ease-in-out after:duration-300">
            Create a new project
        </h1>
        <div class="max-w-lg mx-auto">
            <form action="/add-comment" method="POST" class="p-8 mt-6 mb-0 space-y-4 rounded-lg shadow-2xl">
                <div>
                    <label for="title" class="text-sm font-medium">Comment</label>
                    <div class="relative mt-1">
                        {{ form.comment() }}
                    </div>
                </div>
                <div class="relative group">
                    <div
                        class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur opacity-75 group-hover:opacity-100 transition duration-1000 group-hover:duration-200 animate-tilt">
                    </div>
                    <div class="relative bg-gray-200 text-black rounded-lg text-center">
                        {{ form.submit(class="block w-full px-5 py-3 text-sm font-medium text-white bg-indigo-500 rounded-lg") }}
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
{% endblock content %}
