{% extends "layout.html" %}
{% block content %}
                <div class="flex p-4 flex-col">
                    <h1
                        class="text-2xl font-bold text-center text-indigo-600 sm:text-3xl relative after:absolute after:bg-indigo-600 after:bottom-[-5px] after:left-1/4 after:h-[2px] after:w-1/2 after:origin-bottom-left after:scale-x-100 hover:after:origin-bottom-right hover:after:scale-x-0 after:transition-transform after:ease-in-out after:duration-300 mb-10">
                        Explore events
                    </h1>
                    {% for event in events %}
                    <div class="relative p-8 overflow-hidden mb-10 border border-gray-100 rounded-lg bg-indigo-100"
                        href="">
                        <span
                            class="absolute inset-x-0 bottom-0 h-2  bg-gradient-to-r from-green-300 via-blue-500 to-purple-600">
                        </span>

                        <div class="justify-between  sm:flex">
                            <div>
                                <h5
                                    class="text-xl font-bold text-gray-900 p-3 mb-2 border-solid border-4 border-indigo-600 rounded-lg">
                                    {{ event[7] }}
                                </h5>

                            </div>

                            <div class="flex-shrink-0 hidden ml-3 sm:block  font-bold text-gray-900">
                                {{ event[3] }} - {{ event[4] }}
                            </div>
                        </div>

                        <div class="mt-4 sm:pr-8">

                            <p>

                            <p class="text-xl font-bold mb-4 text-gray-900">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none"
                                    viewBox="0 0 24 24" stroke="green" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                                </svg>
                                Organized by : {{ org_det[event[2]][0] }}
                            </p>
                            <p class="mb-4">
                                {{ event[6] }}
                            </p>
                            <p class="font-bold text-gray-800 mb-6">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 inline-block" viewBox="0 0 20 20"
                                    fill="green">
                                    <path fill-rule="evenodd"
                                        d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                                        clip-rule="evenodd" />
                                </svg>
                                {{ event[5] }}
                            </p>
                            <div class="flex items-center justify-around"> 
                                <form  class="flex w-full md:justify-start justify-center items-end" style="user-select: auto;" action="{{ url_for('main.sponsorAnEvent', id=event[0] )}}">
                                    <button
                                    class="bg-green-700  justify-center hover:bg-green-800 text-white font-bold py-2 px-4 rounded">
                                {% if event[0] in eveSp %}
                                Sponsored
                                {% else %} 
                                Sponsor
                                {% endif %}  
                                </button>
                    
                                </form>
                                <br/>
                                <form  class="flex w-full md:justify-start justify-center items-end" style="user-select: auto;" action="{{ url_for('main.sponsorAnEvent', id=event[0] )}}">
                                    <button
                                    class="bg-green-700  justify-center hover:bg-green-800 text-white font-bold py-2 px-4 rounded">
                                    Contact Organizer
                                </button>
                
                            </form>
                        </div>
                            
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- <div class="relative  p-8 overflow-hidden mb-10 border border-gray-100 rounded-lg bg-indigo-100"
                        href="">
                        <span
                            class="absolute inset-x-0 bottom-0 h-2  bg-gradient-to-r from-green-300 via-blue-500 to-purple-600">
                        </span>

                        <div class="justify-between  sm:flex">
                            <div>
                                <h5
                                    class="text-xl font-bold text-gray-900 p-3 mb-2 border-solid border-4 border-indigo-600 rounded-lg">
                                    Event name goes here
                                </h5>

                            </div>

                            <div class="flex-shrink-0 hidden ml-3 sm:block  font-bold text-gray-900">
                                DD/MM/YYYY - DD/MM/YYYY
                            </div>
                        </div>

                        <div class="mt-4 sm:pr-8">

                            <p>

                            <p class="text-xl font-bold mb-4 text-gray-900">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none"
                                    viewBox="0 0 24 24" stroke="green" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                                </svg>
                                Organized by : organisername here
                            </p>
                            <p class="mb-4">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At velit illum
                                provident a, ipsa maiores deleniti consectetur nobis et eaque.
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At velit illum
                                provident a, ipsa maiores deleniti consectetur nobis et eaque.
                                <br>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At velit illum
                                <br>
                                provident a, ipsa maiores deleniti consectetur nobis et eaque.
                                <br>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At velit illum
                                provident a, ipsa maiores deleniti consectetur nobis et eaque.
                            </p>
                            <p class="font-bold text-gray-800 mb-6">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 inline-block" viewBox="0 0 20 20"
                                    fill="green">
                                    <path fill-rule="evenodd"
                                        d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                                        clip-rule="evenodd" />
                                </svg>
                                complete address goes here
                            </p>
                            <button
                                class="bg-green-700 justify-center hover:bg-green-800 text-white font-bold py-2 px-4 rounded">
                                Sponsor
                            </button>
                            <button
                                class="bg-green-700  justify-center hover:bg-green-800 text-white font-bold py-2 px-4 rounded">
                                Contact Organizer
                            </button>
                            </p>
                        </div>
                    </div> -->

{% endblock %}