{% extends "layout.html" %}
{% block content %}
                <!-- Main content -->
                <div class="p-4">
                    <h1
                        class="text-2xl font-bold text-center text-indigo-600 sm:text-3xl relative after:absolute after:bg-indigo-600 after:bottom-[-5px] after:left-1/4 after:h-[2px] after:w-1/2 after:origin-bottom-left after:scale-x-100 hover:after:origin-bottom-right hover:after:scale-x-0 after:transition-transform after:ease-in-out after:duration-300 mb-10">
                        Chat with Person name
                    </h1>
                    <div class="flex flex-col flex-grow w-full bg-white shadow-xl rounded-lg my-4">
                        <div class="flex flex-col flex-grow h-1/16 p-4 overflow-auto">
                            {% for msg in msgList %}
                            {% if msg[1]==10 %}
                            <div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end">
                                <div>
                                    <div class="bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg">
                                        <p class="text-sm">{{msg}}</p>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                             <div class="flex w-full mt-2 space-x-3 max-w-xs">
                                <div>
                                    <div class="bg-gray-300 p-3 rounded-r-lg rounded-bl-lg">
                                        <p class="text-sm">{{msg}}</p>
                                    </div>
                                </div>
                            </div> 
                            {% endif %}
                            {% endfor %}
                            

                            <!-- <div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end">
                                <div>
                                    <div class="bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg">
                                        <p class="text-sm">Lorem ipsum dolor sit.</p>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="flex w-full mt-2 space-x-3 max-w-xs">
                                <div>
                                    <div class="bg-gray-300 p-3 rounded-r-lg rounded-bl-lg">
                                        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                            do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua. </p>
                                    </div>
                                </div>
                            </div> -->

                        </div>

                        <div class="bg-gray-300 p-4 flex justify-between w-full items-center">
                            <!-- <input class= type="text"
                                placeholder="Type your message…"> -->
                                <form action="{{ url_for('main.sendMsg',to_id=to_id) }}" class="space-y-6" method="POST">  
                                {{ form.message(class="flex items-center h-10 w-full rounded px-3 text-sm",placeholder="Type your message…") }}
                            <!-- <button
                                class="inline-block p-3 text-white bg-indigo-600 border border-indigo-600 rounded-full hover:bg-transparent hover:text-indigo-600 active:text-indigo-500 focus:outline-none focus:ring ml-4"
                                href="{{ url_for('main.home') }}">
                                <span class="sr-only"> Download </span> -->
                                {{ form.submit(class="inline-block p-3 text-white bg-indigo-600 border border-indigo-600 rounded-full hover:bg-transparent hover:text-indigo-600 active:text-indigo-500 focus:outline-none focus:ring ml-4") }}
                                </form>
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M14 5l7 7m0 0l-7 7m7-7H3" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <!-- Component End  -->
                </div>
{% endblock %}