{% extends "layout.html" %}
{% block content %}
                <!-- Main content -->

                <div class="flex flex-col border-l border-r border-gray-300">
                    <div class="flex justify-between items-center flex-shrink-0 px-8 py-4 border-b border-gray-300">
                        <h1 class="text-xl font-semibold text-center">Username's Project Feed</h1>
                        <button class="flex items-center h-12 px-2 text-sm bg-gray-300 rounded-sm hover:bg-gray-400">New
                            Project</button>
                    </div>
                    <div class="flex-grow h-0">
                        {% for d in det2 %}
                        <div class="flex w-full p-8 border-b border-gray-300">
                            <span class="flex-shrink-0 w-6 h-6 lg:w-12 lg:h-12 bg-gray-400 rounded-full"></span>
                            <div class="flex flex-col flex-grow ml-4">
                                <div class="flex">
                                    <span class="font-semibold"><a href="#">{{d[1][1]}}</a></span>
                                    <span class="ml-1"><a href="mailto:username@email.com">{{d[1][2]}}</a></span>
                                    <span class="ml-auto text-sm">Just now</span>
                                </div>
                                <p class="mt-1">{{d[0][2]}}</p>
                                <div class="flex mt-2">
                                    <button class="text-sm font-semibold">Like</button>
                                    <button class="ml-2 text-sm font-semibold">Comment</button>
                                    <button class="ml-2 text-sm font-semibold">View Project</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- <div class="flex w-full p-8 border-b border-gray-300">
                            <span class="flex-shrink-0 w-6 h-6 lg:w-12 lg:h-12 bg-gray-400 rounded-full"></span>
                            <div class="flex flex-col flex-grow ml-4">
                                <div class="flex">
                                    <span class="font-semibold"><a href="#">Username</a></span>
                                    <span class="ml-1"><a href="mailto:username@email.com">username@email.com</a></span>
                                    <span class="ml-auto text-sm">Just now</span>
                                </div>
                                <p class="mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. <a class="underline"
                                        href="#">#hashtag</a>
                                    Ye niche project image ayega</p>
                                <div class="flex items-center justify-center h-64 mt-2 bg-gray-200">
                                    <span class="font-semibold text-gray-500">Image</span>
                                </div>
                                <div class="flex mt-2">
                                    <button class="text-sm font-semibold">Like</button>
                                    <button class="ml-2 text-sm font-semibold">Comment</button>
                                    <button class="ml-2 text-sm font-semibold">View Project</button>
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>


{% endblock %}