<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Innov-8</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/build.css" />
    <link rel="stylesheet" href="../static/css/login.css" />
  </head>

  <body>
    <div
      class="flex flex-col items-center justify-center min-h-screen p-4 space-y-4 antialiased text-gray-900"
    >
      <a
        href=""
        class="inline-block mb-6 font-black tracking-wider uppercase text-5xl text-chamki-green-800"
      >
        innov-8
      </a>

      <main>
        <div
          class="w-full max-w-sm px-4 py-6 space-y-6 bg-white rounded-md text-gray-700"
        >
          <h1 class="text-xl font-semibold text-center">Login</h1>
          <form action="/login" class="space-y-6" method="POST">
            <div class="flex justify-evenly items-center text-lg font-light">
              <label for="lang">Login as</label>
              {{ form.dropdown() }}
            </div>
            {{ form.email(placeholder="Email address",class="w-full px-4 py-2
            border rounded-md focus:outline-none focus:ring
            focus:ring-sky-300")}}
          
            {{ form.password(placeholder="Password",class="w-full px-4 py-2
            border rounded-md focus:outline-none focus:ring
            focus:ring-sky-300")}}
          

            <div class="flex items-center justify-center">
              <a
                href=""
                class="text-sm relative text-blue-600 after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-blue-400 after:transition-transform after:duration-300 after:ease-in-out hover:after:origin-bottom-left hover:after:scale-x-100"
                >Forgot Password?</a
              >
            </div>
            <div>
              {{ form.submit(class="w-full group [transform:translateZ(0)] px-6
              py-3 rounded-lg bg-info-light overflow-hidden relative
              before:absolute before:bg-info-dark before:bottom-0 before:left-0
              before:h-full before:w-full before:origin-[100%_100%]
              before:scale-x-0 hover:before:origin-[0_0]
              hover:before:scale-x-100 before:transition before:ease-in-out
              before:duration-500 text-center")}}
            
            </div>
          </form>

          <div
            class="text-sm text-gray-600 dark:text-gray-400 flex items-center justify-evenly"
          >
            <p
              class="group text-gray-600 transition duration-200 ease-in-out hover:text-fuchsia-800 font-medium hover:font-semibold"
            >
              Don't have an account yet<span
                aria-hidden="true"
                class="inline-block translate-x-0 transition-transform duration-200 ease-in-out group-hover:translate-x-1"
                >?</span
              >
            </p>
            <a
              href="/register"
              class="relative text-blue-600 after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-blue-400 after:transition-transform after:duration-300 after:ease-in-out hover:after:origin-bottom-left hover:after:scale-x-100"
              >Register</a
            >
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
